#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


table,th,td{
  border: 1px solid black;
}
th,td{
    padding: 15px;
}
table{
    width:100%;
}


table {
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
  max-width: 100%;
}
// td, th {
//   padding: .5rem;
// }
th {
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: none;
}
.ajax_php_font{
  color:#F60;
  font-weight:bold;
  font-style:italic;
  font-size:16px;
  }

